<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="doLogin()" [formGroup]="userFormGroup">
    <div>
      <ion-item>
        <ion-label floating>Email: </ion-label>
        <ion-input formControlName="userEmail"></ion-input>
      </ion-item>
      <div *ngIf="emailFormControl.dirty && emailFormControl.hasError('email')">
        Email Incorrect
      </div>
      <div *ngIf="emailFormControl.dirty && emailFormControl.hasError('required')">
        Email requis
      </div>
      <ion-item>
        <ion-label floating >Mot de passe: </ion-label>
        <ion-input type="password" formControlName="userPassword"></ion-input>
      </ion-item>
      <div *ngIf="passwordFormControl.errors && passwordFormControl.dirty">
        Mot de passe incorrect
      </div>
      <div *ngIf="passwordFormControl.dirty && passwordFormControl.hasError('required')">
        Mot de passe requis
      </div>
    </div>

    <ion-item>
      <ion-label>Souvient toi plz</ion-label>
      <ion-checkbox formControlName="rememberMe"></ion-checkbox>
    </ion-item>

    <button ion-button type="submit" [disabled]="userFormGroup.invalid" >
      Login
    </button>

  </form>
</ion-content>
